<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <script src='./app.js' type="module"></script>
  <script src="./router.js" type="module"></script>
  <title>Sign-in</title>
</head>

<body>

  <div id="app" class="row height_fill align_top scroll">
    <!-- Sidebar -->
    <sidebar @sign-out="signOut"></sidebar>
    <!-- Main Content -->
    <!-- <recipe-list :recipes="recipes" @show-add-form="showAddForm" @show-delete-confirm="showDeleteConfirm"
      @show-edit-form="showEditForm"></recipe-list> -->
    <recipe-detail :recipe="recipeToView"></recipe-detail>
    <!-- Right Overlay -->
    <!-- Backdrop -->
    <button @click="hideForm" class="right_overlay__backdrop position_fixed top"
      :class="rightOverlayBackdropClasses"></button>
    <!-- Right Column -->
    <div
      class="column width_480px height_fill gap_16 border_left position_fixed right_overlay top_0 right_0 bg_white scroll"
      :class="rightOverlayClasses">
      <span class="font_24 pad_left_16"> {{ overlayHeader }} </span>
      <!-- Add/Edit Form -->
      <form class="column gap_16 pad_16 wrap" v-if="isFormVisible" @submit.prevent="addOrEditRecipe">
        <!-- Scrape URL Input -->

        <label class="column gap_8">
          <span class="font_bold">URL to Scrape</span>
          <div class="row gap_8">
            <input class="rounded border pad_8" type="text" name="recipeName" v-model="urlToScrapeInput"
              label="Url to Scrape">
            <button type="button" @click="scrapeRecipe(urlToScrapeInput)" class="button rounded border">Fetch
              Details</button>
          </div>
        </label>


        <!-- Recipe Name Input -->
        <label class="column gap_8">
          <span class="font_bold">Recipe Name</span>
          <input class="rounded border pad_8" type="text" name="recipeName" v-model="recipeNameInput"
            label="Recipe Name">
        </label>
        <!-- Ingredients Input -->
        <div class="column gap_8">
          <span class="font_bold">Ingredients</span>
          <div class="row gap_8 align_center" v-for="(ingredient,index) in recipeIngredientsInput">
            <input class="rounded border pad_8 fill" type="text" name="recipeName"
              v-model="recipeIngredientsInput[index]">
            <button type="button" @click="removeIngredientInput(index)" class="button rounded border">x</button>
          </div>
          <div class="row align_left">
            <button type="button" @click="addIngredientInput"
              class="button rounded border pad_left_16 pad_right_16">+</button>
          </div>
        </div>
        <!-- Steps Input -->
        <div class="column gap_8">
          <span class="font_bold">Steps</span>
          <div class="row gap_8 align_top" v-for="(step,index) in recipeStepsInput">
            <div class="pad_top_8">{{index + 1}}.</div>
            <textarea rows="4" class="rounded border pad_8 fill" name="recipeName"
              v-model="recipeStepsInput[index]"></textarea>
            <div class="pad_top_8"> <button type="button" @click="removeStepInput(index)"
                class="button rounded border">x</button></div>
          </div>
          <div class="row align_left">
            <button type="button" @click="addStepInput"
              class="button rounded border pad_left_16 pad_right_16">+</button>
          </div>
        </div>
        <div class="row align_right gap_8">
          <button class="row button rounded border" @click="hideForm" type="button">Cancel</button>
          <button class="row button rounded border" type="submit">Save</button>
        </div>
      </form>

    </div>
    <!-- Delete Confirm Modal -->
    <div class="modal row align_center width_fill height_fill position_fixed" :class="modalClasses">
      <!-- modal backdrop -->
      <button @click="hideDeleteConfirm" class="modal_overlay__backdrop"></button>
      <!-- modal content -->
      <div class="modal_overlay column bg_white border pad_16 gap_16 position_relative" :class="modalOverlayClasses">
        <div class="row font_32">Delete Recipe</div>
        <div class="row font_bold"> Are you sure you want to delete {{recipeToDelete.name}}?</div>
        <div class="row gap_16 align_right">
          <button @click="hideDeleteConfirm" type="button" class="button__secondary">Cancel</button>
          <button @click="deleteRecipe(recipeToDelete)" type="button" class="button">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <script type="module">

    import App from './app.js'
    import Router from './router.js'
    App.use(Router)
    App.mount('#app')
  </script>
</body>

</html>