<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    body {
      color: white;
      background: black;
    }
  </style>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Sign-in</title>
</head>

<body>
  <h1 id="welcome-message">Welcome User</h1>
  <h2>My Recipes</h2>
  <div id="app">
    <ul>
      <li v-for="recipe in recipes">
        {{recipe.name}}
        <button @click="deleteRecipe(recipe)">Delete</button>
      </li>
    </ul>
    <button @click="toggleAddRecipeForm">{{ toggleButtonLabel }}</button>
    <form v-if="isFormVisible" @submit.prevent="addRecipe">
      <label>
        <span>Recipe Name</span>
        <input type="text" name="recipeName" v-model="addRecipeName" label="Recipe Name">
        <button type="submit">Submit</button>
      </label>
    </form>
    <button @click="signOut"> Sign Out</button>
  </div>
  <script>
    let app = Vue.createApp({
      async mounted() {
        this.recipes = await this.fetchRecipes()
      },
      data() {
        return {
          isFormVisible: true,
          recipes: [],
          addRecipeName: "",

        }

      },
      computed: {
        toggleButtonLabel() {
          if (this.isFormVisible) {
            return "Cancel"
          }
          else {
            return "Add Recipe"
          }
        }
      },
      methods: {
        async fetchRecipes() {
          if (!localStorage.getItem("authToken")) {
            this.goToSignIn()
          }
          else {
            let url = '/api/recipes'
            let options = {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem("authToken")
              }
            }
            console.log(options)
            const response = await fetch(url, options)
            const json = await response.json()
            return json.recipes
          }
        },
        async deleteRecipe(recipe) {
          let url = `/api/recipes/${recipe.id}`
          let token = localStorage.getItem("authToken")
          let options = {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
              'Authorization': token
            }
          }
          console.log(options)
          const response = await fetch(url, options)
          const json = await response.json()
          this.recipes = json.recipes

        },
        async addRecipe(event) {
          let url = '/api/recipes'
          let token = localStorage.getItem("authToken")
          let recipe = {
            name: event.target.elements.recipeName.value
          }
          let body = { recipe }
          let options = {
            method: 'POST',
            body: JSON.stringify(body),
            headers: {
              'Content-Type': 'application/json',
              'Authorization': token
            }
          }
          const response = await fetch(url, options)
          const json = await response.json()
          this.recipes = json.recipes
          this.addRecipeName = ""
        },
        toggleAddRecipeForm() {
          if (this.isFormVisible) {
            this.isFormVisible = false
          }
          else {
            this.isFormVisible = true
          }
        },
        signOut() {
          localStorage.removeItem("authToken")
          this.goToSignIn()
        },

        goToSignIn() {
          window.location.href = '/'
        }
      }
    })
    app.mount('#app')
  </script>
</body>

</html>