* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height:100%;
  display:flex;
}

.row {
  display:flex;
}

.header { 
  font-size: var(--font_h1);
}

.column {
  display:flex;
  flex-direction: column;
}

.column.sidebar {
  width:33%;
  min-width:240px;
  border-right: 1px lightgray solid;
}

.sidebar_link.selected {
  border-left: hotpink solid 8px;
  background-color: pink;
}

.sidebar_link:hover {
  background-color: pink;
}


.row.align_right, .column.align_bottom {
  justify-content: flex-end;
}

.row.align_left, .column.align_top {
  justify-content: flex-start;
}

.row.align_top, .column.align_left {
  align-items: flex-start;
}

.row.align_bottom, .column.align_right {
  align-items: flex-end;
}

.row.align_center_x, .column.align_center_y {
  justify-content:center;
}

.row.align_center_y, .column.align_center_x {
  align-items:center;

}

.align_center {
  justify-content:center;
  align-items:center;
}

.gap_16 { gap:16px }
.gap_32 { gap:32px }
.gap_8 { gap:8px }

/* PADDING */
.pad_8 { padding: 8px; }
.pad_16 { padding: 16px; }
.pad_32 { padding: 32px; }

.pad_left_8 { padding-left: 8px; }
.pad_left_16 { padding-left: 16px; }
.pad_left_32 { padding-left: 32px; }

.pad_right_8 { padding-right: 8px; }
.pad_right_16 { padding-right: 16px; }
.pad_right_32 { padding-right: 32px; }

.pad_top_8 { padding-top: 8px; }
.pad_top_16 { padding-top: 16px; }
.pad_top_32 { padding-top: 32px; }

.pad_bottom_8 { padding-bottom: 8px; }
.pad_bottom_16 { padding-bottom: 16px; }
.pad_bottom_32 { padding-bottom: 32px; }
